<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="test.listeners.TestNGListener"></listener>
        <listener class-name="test.listeners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/willierose/Desktop/XYZBank">
        <classes>
            <class name="test.test.Bank">
            </class>
        </classes>
    </test>
</suite>
